# coding: utf-8

"""
    Knetik Platform API Documentation latest 

    This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com

    OpenAPI spec version: latest 
    Contact: support@knetik.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class BRERuleEngineActionsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_bre_actions(self, **kwargs):
        """
        Get a list of available actions
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_bre_actions(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter_category: Filter for actions that are within a specific category
        :param str filter_name: Filter for actions that have names containing the given string
        :param str filter_tags: Filter for actions that have all of the given tags (comma separated list)
        :param str filter_search: Filter for actions containing the given words somewhere within name, description and tags
        :return: list[ActionResource]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_bre_actions_with_http_info(**kwargs)
        else:
            (data) = self.get_bre_actions_with_http_info(**kwargs)
            return data

    def get_bre_actions_with_http_info(self, **kwargs):
        """
        Get a list of available actions
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_bre_actions_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str filter_category: Filter for actions that are within a specific category
        :param str filter_name: Filter for actions that have names containing the given string
        :param str filter_tags: Filter for actions that have all of the given tags (comma separated list)
        :param str filter_search: Filter for actions containing the given words somewhere within name, description and tags
        :return: list[ActionResource]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter_category', 'filter_name', 'filter_tags', 'filter_search']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_bre_actions" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = {}
        if 'filter_category' in params:
            query_params['filter_category'] = params['filter_category']
        if 'filter_name' in params:
            query_params['filter_name'] = params['filter_name']
        if 'filter_tags' in params:
            query_params['filter_tags'] = params['filter_tags']
        if 'filter_search' in params:
            query_params['filter_search'] = params['filter_search']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/bre/actions', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[ActionResource]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
