# coding: utf-8

"""
    Knetik Platform API Documentation latest 

    This is the spec for the Knetik API.  Use this in conjunction with the documentation found at https://knetikcloud.com.

    OpenAPI spec version: latest 
    Contact: support@knetik.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..api_client import ApiClient


class PaymentsPayPalClassicApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_pay_pal_billing_agreement_url(self, **kwargs):
        """
        Create a PayPal Classic billing agreement for the user
        Returns the token that should be used to forward the user to PayPal so they can accept the agreement.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_pay_pal_billing_agreement_url(async=True)
        >>> result = thread.get()

        :param async bool
        :param CreateBillingAgreementRequest request: The request to create a PayPal billing agreement
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_pay_pal_billing_agreement_url_with_http_info(**kwargs)
        else:
            (data) = self.create_pay_pal_billing_agreement_url_with_http_info(**kwargs)
            return data

    def create_pay_pal_billing_agreement_url_with_http_info(self, **kwargs):
        """
        Create a PayPal Classic billing agreement for the user
        Returns the token that should be used to forward the user to PayPal so they can accept the agreement.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_pay_pal_billing_agreement_url_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param CreateBillingAgreementRequest request: The request to create a PayPal billing agreement
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_pay_pal_billing_agreement_url" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/payment/provider/paypal/classic/agreements/start', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='str',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def create_pay_pal_express_checkout(self, **kwargs):
        """
        Create a payment token for PayPal express checkout
        Returns the token that should be used to forward the user to PayPal so they can complete the checkout.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_pay_pal_express_checkout(async=True)
        >>> result = thread.get()

        :param async bool
        :param CreatePayPalPaymentRequest request: The request to create a PayPal payment token
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.create_pay_pal_express_checkout_with_http_info(**kwargs)
        else:
            (data) = self.create_pay_pal_express_checkout_with_http_info(**kwargs)
            return data

    def create_pay_pal_express_checkout_with_http_info(self, **kwargs):
        """
        Create a payment token for PayPal express checkout
        Returns the token that should be used to forward the user to PayPal so they can complete the checkout.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.create_pay_pal_express_checkout_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param CreatePayPalPaymentRequest request: The request to create a PayPal payment token
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_pay_pal_express_checkout" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/payment/provider/paypal/classic/checkout/start', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='str',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def finalize_pay_pal_billing_agreement(self, **kwargs):
        """
        Finalizes a billing agreement after the user has accepted through PayPal
        Returns the ID of the new payment method created for the user for the billing agreement.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.finalize_pay_pal_billing_agreement(async=True)
        >>> result = thread.get()

        :param async bool
        :param FinalizeBillingAgreementRequest request: The request to finalize a PayPal billing agreement
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.finalize_pay_pal_billing_agreement_with_http_info(**kwargs)
        else:
            (data) = self.finalize_pay_pal_billing_agreement_with_http_info(**kwargs)
            return data

    def finalize_pay_pal_billing_agreement_with_http_info(self, **kwargs):
        """
        Finalizes a billing agreement after the user has accepted through PayPal
        Returns the ID of the new payment method created for the user for the billing agreement.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.finalize_pay_pal_billing_agreement_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param FinalizeBillingAgreementRequest request: The request to finalize a PayPal billing agreement
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method finalize_pay_pal_billing_agreement" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/payment/provider/paypal/classic/agreements/finish', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='int',
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def finalize_pay_pal_checkout(self, **kwargs):
        """
        Finalizes a payment after the user has completed checkout with PayPal
        The invoice will be marked paid/failed by asynchronous IPN callback.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.finalize_pay_pal_checkout(async=True)
        >>> result = thread.get()

        :param async bool
        :param FinalizePayPalPaymentRequest request: The request to finalize the payment
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.finalize_pay_pal_checkout_with_http_info(**kwargs)
        else:
            (data) = self.finalize_pay_pal_checkout_with_http_info(**kwargs)
            return data

    def finalize_pay_pal_checkout_with_http_info(self, **kwargs):
        """
        Finalizes a payment after the user has completed checkout with PayPal
        The invoice will be marked paid/failed by asynchronous IPN callback.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.finalize_pay_pal_checkout_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param FinalizePayPalPaymentRequest request: The request to finalize the payment
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request']
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method finalize_pay_pal_checkout" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['OAuth2']

        return self.api_client.call_api('/payment/provider/paypal/classic/checkout/finish', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        async=params.get('async'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
